@{
    ViewBag.Title = "Sistema de Reposiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportes</h2> <br />
<nav>
    <fieldset class="field50l">
        <legend>Solicitudes por Operario o Solicitante</legend>
        <a href="/Gerencia/Index5" class="btn btn-default" role="button">Solicitudes</a>
    </fieldset>
    <br />
    <fieldset class="field50r">
        <legend>Solicitudes canceladas</legend>
        <a href="/Gerencia/Index2" class="btn btn-default" role="button">Canceladas</a>
    </fieldset>

</nav>
<br />
<nav>
    <fieldset class="field50l">
        <legend>Solicitudes tratadas fuera de tiempo</legend>
        <a href="/Gerencia/Index3" class="btn btn-default" role="button">Consultar</a>
    </fieldset>
    <br />
    <fieldset class="field50r">
        <legend>Mayor desvio y porcentaje fuera de tiempo mensual por Supervisor</legend>
        <a href="/Gerencia/Index4" class="btn btn-default" role="button">Desvios</a>

    </fieldset>
</nav>
<br />