@{
    ViewBag.Title = "Sistema de Reposiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        <fieldset>
            <legend> Bienvenido al Sistema de Reposiciones ! </legend>
        </fieldset>
    </div>
</form>
