body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for layout sections
-----------------------------------------------------------*/


#header
{
/*  	background: url(/content/Images/logo.png) no-repeat; para una imagen en el logo*/
}
#footer
{
	clear: both;
    
	padding: 10px;
	text-align: right;
	border-top: 1px dotted #8A8575;
	border-bottom: 1px dotted #8A8575;
	font-family: Constantia, Georgia, serif;
}


.field50r
{
	clear: none;
    float: right;
	padding: 10px;
	text-align: right;
    border: 1px dotted #8A8575;
	font-family: Constantia, Georgia, serif;
    width: 47%;
    height: 45%;
}
.field50l
{
	clear: none;
    float: left;
	padding: 10px;
	text-align: right;
    border: 1px dotted #8A8575;
	font-family: Constantia, Georgia, serif;
    width: 47%;
        height: 45%;
}

#sectionLeft40 {
    display: block;
    float:left;
    width:40%;
}
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/


legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

    a[type="button"] 
    {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    text-decoration: none;
    }



    @media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}