@{
    ViewBag.Title = "Index Gerencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2><br /> <label>Ofrece cuatro gráficos estadísticos, con sus respectivos títulos, al apretarlos redirecciona a la página de cada gráfico. </label>
<nav>
    <fieldset class="field50l">
        <legend></legend>
        Espacio 1
        // GET /Gerencia/SolicitudesPorSolicitante/Operario
    </fieldset>

    <fieldset class="field50r">
        <legend></legend>
        Espacio 2
        // GET /Gerencia/SolicitudesCanceladas
    </fieldset>
</nav>
<br />
<nav>
    <fieldset class="field50l">
        <legend></legend>
        Espacio 3
        // GET /Gerencia/SolicitudesTratadasTarde
    </fieldset>

    <fieldset class="field50r">
        <legend></legend>
        Espacio 4
        // GET /Gerencia/MayorDesvio y Porcentaje fuera de tiempo por Supervisor.
    </fieldset>
</nav>
<br />